<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <script>
        var loginOpen = false;
    </script>
</head>
<body class="container" style="padding-top:10px">
<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">E-commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
            </ul>
            
            <ul class="navbar-nav">
            <%if(!user){%>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li id="login-li" class="nav-item">
                    <a id="login-button" class="nav-link" href="/login">Login</a>
                </li>
            <%}else{%>
                <li class="nav-item">
                    <a class="nav-link" href="/">Carts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user-panel"><%=user._userName%></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <%}%>
            </ul>
        </div>
    </nav>
    <script>
        var htmlLogin =  `<div id="loginE" class="card" style="margin:0 auto; width:250px; position:absolute; z-index:200; top:46px; right:-80px ">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
            <hr>
            <p id ="login-error" class="text-success text-center"></p>
            <form id="form" action="destination.html" onsubmit="onSubmit(event)">
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="username" autofocus class="form-control" placeholder="Username" type="text">
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="******" type="password">
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div> <!-- form-group// -->
            <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
            </form>
        </article>
    </div> <!-- card.// -->
</div>`;
    function onSubmit(event){
        event.preventDefault();
        var userName = $("[type=text]").val();
        var password = $("[type=password]").val();
        postData(`/login`, {userName,password})
        .then(data => {
            if(data.status<0)
                $("#login-error").text(data.err);
            else
                document.location.href = '/user-panel';
            
        }) // JSON-string from `response.json()` call
        .catch(error => console.error(error));
        };

        $("#login-button").click(function (event) {
            event.preventDefault();
            if(!loginOpen)
                $("#login-li").append(htmlLogin);
            else
                $("#loginE").remove();
            loginOpen = !loginOpen;
        })
    </script>
</header>