/server/node_modules/

/server/dist/

/server/package-lock.json

/acceptanceTest-deprecated/node_modules/

/acceptanceTest-deprecated/dist/

/acceptanceTest-deprecated/package-lock.json

/acceptanceTest/node_modules/

/acceptanceTest/dist/

/acceptanceTest/package-lock.json

.env

.gitignore

private.key

.idea

.vscode