/server/node_modules/

/server/dist/

/server/package-lock.json

/acceptanceTest-deprecated/node_modules/

/acceptanceTest-deprecated/dist/

/acceptanceTest-deprecated/package-lock.json

.env

private.key

.idea

.vscode