/server/node_modules/

/server/dist/

/server/package-lock.json

/acceptanceTest-deprecated/node_modules/

/acceptanceTest-deprecated/dist/

/acceptanceTest-deprecated/package-lock.json

/acceptanceTest/node_modules/

/acceptanceTest/dist/

/server/E_Commerce_system_error_logger.log

/server/E_Commerce_system_logger.log

/acceptanceTest/package-lock.json

.env

private.key

.idea

.vscode