 <%- include('./userHeader',{user})%>
                <h2 class="display-6" style="color:grey">User</h2>
                <%stores.forEach( store =>{%>
                    <div>
                        <span><%=store.name%></span> <a href="/my-stores/<%=store.id%>">Go to Store Actions</a>
                    </div>
                <%})%>
    </div>
    </main>
</div>  
<%- include ../../partials/pageWithSideFooter %>