 <%- include('./userHeader',{user})%>
                <h2 class="display-6" style="color:grey">User</h2>
                
    </div>
    </main>
</div>  
<%- include ../../partials/pageWithSideFooter %>