 <%- include('./storeHeader',{user, storeId})%>
                <h2 class="display-6" style="color:grey">Sorry You don't have permission for this action</h2>
                
    </div>
    </main>
</div>  
<%- include ../../partials/pageWithSideFooter %>