<%- include('../partials/header',{user}) %>
<main>
<main>
    
        <style>.card-block {background-color: #e9ecef6e;} </style>

        
        <div class="jumbotron"  style="padding-block-start: 20px ; padding-bottom: 15px" >
        <div class="row" style="background-color: #e9ecef " >
		<div class="col-md-12">
			<div class="page-header" style="margin-bottom:15px">
                    <h1><em>Shop and Drop </em><span style="font-size: 16pt; color: #808080;"> | Dreams For Sale</span></h1> 
			</div> 
			<%stores.forEach((store,ind) => {%>
				<%if(ind%3 === 0){%>
					<div class="row">
				<%};%> 
				<div class="col-md-4" >
					<a href="/stores/<%=store.id%>">
					<div class="card" style="margin-bottom:10px">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://picsum.photos/1500/750?<%=ind%>">
						<div class="card-block">
							<h5 class="card-title">
							</h5>
							<h5 class="card-title" style="padding-inline-start: 15px">
                                  <span style="font-size: 14pt; color: #4e4d4d;"><%=store.name%></span>
							</h5>
						</div>
					</div>
					</a>
				</div><br>
				
				<%if(ind%3 === 2){%>
					</div>
				<%};%> 
			<%});%> 
		</div>
	</div>
</div>

    
    
    
    
    
    
    
</main>
<footer>
    <%# include ../partials/footer %>
</footer>

</body>
</html>