<%- include('../partials/header',{user}) %>
<main>
<main>
    
        <style>.card-block {background-color: #e9ecef6e;} </style>

        
        <div class="jumbotron"  style="padding-block-start: 20px ; padding-bottom: 15px" >
        <h2>SERVER ERROR</h2>
        <h3>We are working to solve the issue</h3>
</div>

    
    
    
    
    
    
    
</main>
<footer>
    <%# include ../partials/footer %>
</footer>

</body>
</html>